<div class = "container" >
  <div class = "col-sm-12">
    <h1> Add a comment! </h1>
    <div>
      <%= form_for :comment do |f| %>
    </div><br>
    <div>
      <%= f.label :contribution, "I can contribute:" %>
      <%= f.select :contribution, [['Beverages'],['Snacks'],['Money'],['Tents']], class: 'form-control'%>
    </div><br>
    <div>
      <%= f.label :description, "Comment:" %>
      <%= f.text_area :description, placeholder: "Write your comment here..", class: 'form-control' %>
    </div><br>
    <div>
      <%= f.submit class:'btn btn-primary', remote:true %>
    </div>
      <% end %>
  </div>
</div>
