<div class="jumbotron">
  <div class="container">
    <p>Welcome to,</p><h1 class="display-3">planTastic!</h1> <p>Planning your events just got easier</p>
    <hr>
    <p></p>
    <p class="lead">
      <% if current_user %>
        <%= button_to "Create Event!", new_event_path, :method => "get", class: "btn btn-lg btn-success" %>
      <% else %>
        <%= button_to "Sign Up!", new_user_path, :method => "get", class: "btn btn-lg btn-primary" %>
      <% end %>
    </p>
  </div>
</div>

<div class="container marketing">




  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Organize your outings. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">No more confusion about who is going to bring what to your event.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "party1.jpg", class:"featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Easily create new events. <span class="text-muted">Nice!</span></h2>
      <p class="lead">Forget handmade invitations and snail mail, with planTastic, your friends can RSVP to your event with the click of their mouse!</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "party2.jpg", class:"featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Keep track of upcoming events. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Use your personal profile to keep track of events you're attending.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "party3.jpg", class:"featurette-image img-responsive center-block" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h2>About the creators</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "bryan.jpeg", class:"img-circle", size:"140x140"%>
      <h2>Bryan Smith</h2>
      <p>Born in California, raised in Arizona, I'm a one of a kind web developer! I started web development after deciding I needed a change. I thought web development was the best cross between creativity and coding! So far it's been an awesome journey that I've been able to share with the wonderful people to my right.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-3">
      <%= image_tag "jackie.jpeg", class:"img-circle", size:"140x140"%>
      <h2>Jackie Fambrough</h2>
      <p>Born and raised in the Central Valley and currently residing in Oakland. Things I enjoy: web development, jokes, music, food, and friendship. Check out my <a href =“https://github.com/jacquelynfambrough”>GitHub</a> account to see other works I’ve contributed to and created! </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-3">
      <%= image_tag "sarah.jpeg", class:"img-circle", size:"140x140"%>
      <h2>Sarah Bannister</h2>
      <p>Planned initial idea and created the prototype for planTastic. Added Google Places API to enable autocomplete on event form. Assisted in setting up relationships between models. Set up referencing and methods for events and users model. Helped add validations.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-sm-3">
      <%= image_tag "rene.jpeg", class:"img-circle", size:"140x140"%>
      <h2>Rene Arellano</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div>
