<script>
var ready;
ready = function() {
    var input = document.getElementById('locationTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
$(document).ready(ready);
$(document).on('turbolinks:load', ready);

google.maps.event.addDomListener(window, 'load', init);

</script>

<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h1>Create an Event</h1>
    </div>
    <hr>
    <div class="row">
      <%= simple_form_for @event, url: create_event_path, as: 'event', class: 'event_form' do |f| %>
        <%= f.input :title, placeholder: "Title", :required => true %>
        <%= f.input :location, placeholder: "Location", :input_html => { :id => 'locationTextField' }, :required => true %>
        <%= f.input :photo, {placeholder: "Image URL", class: "form-control "} %>
        <%= f.input :description, placeholder: "Description" %>
        <%= f.input :event_date,  placeholder: "Date", id: "datepicker"%>
        <%= f.input :event_time, placeholder: "Time"%>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
