<div class="container">
  <div class="col-md-6">
    <div class="row">
      <h1>Create an Event</h1>
    </div>
    <hr>
    <div class="row">
      <%= simple_form_for @event, url: create_event_path, as: 'event' do |f| %>
        <%= f.input :title, placeholder: "Title"%>
        <%= f.input :location, placeholder: "Location"%>
        <%= f.input :photo, {placeholder: "Image URL", class: "form-control "} %>
        <%= f.input :description, placeholder: "Description" %>
        <%= f.input :event_date,  placeholder: "Date"%>
        <%= f.input :event_time, placeholder: "Time"%>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
