<div class="container events-container">
  <div class="row">
    <h1 class="eventTitle"><%= @event.title %></h1>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= image_tag (@event.photo), class: "img-responsive img-thumbnail" %>
        <%= button_to "Attend", new_attendance_path(@event), :method => "get", class: "attendButton" %>
    </div>
  </div>
  <div class="col-md-6">
    <p><p><strong>description:</strong> <%= @event.description%></p>
    <p><strong>location:</strong> <%= @event.location%></p>
    <p><%= @event.event_date %></p>
    <p><%= @event.event_time %></p>
    <% if current_user%>
      <%= button_to "Edit", edit_event_path(@event), :method => "get", class: "btn btn-small btn-success"%>
      <%= button_to "Delete Event", delete_event_path, data: {:confirm=>'Are you sure you want to delete this event?'}, :method => "delete", class: "btn btn-small btn-danger" %>
    <% else %>
      <%= button_to "Login", login_path, :method => "get", class: "btn btn-small btn-primary" %>
    <% end %>
  </div>

  <h1>Who's Going:</h1>
  <div class="col-xs-4">
    <% @event.attendances.each do |attendance| %>
      <div class = "row">
        <strong><%= attendance.user.first_name %> <%= attendance.user.last_name %></strong>
        <p><%= image_tag (attendance.user.profile_image), class: "img-responsive img-thumbnail userpic" %><br>
        <p> Contribution: <%= attendance.contribution %></p>
      </div>
    <% end %>
    <div class="comments-container">
    <%= button_to "Add Comment", new_comment_path, :method => "get", class: "btn btn-small btn-primary"%>
      <% @comments.each do |comment|%>
      <p><%= comment.description %></p>
      <p><%= link_to "Delete", delete_comment_path, method: :delete, data: {confirm: 'Are you sure?'}%> </p>
    <% end %>
  </div>
  </div>
</div>
