<div class="container event-container">
  <div class="row">
    <h1 class="eventTitle"><%= @event.title %></h1>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= image_tag (@event.photo), class: "img-responsive img-thumbnail" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <h2>What?</h2>
    </div>
    <div class="row">
      <p><%= @event.description%></p>
    </div>
    <div class="row">
      <h2>Where?</h2>
    </div>
    <div class="row">
      <p><%= @event.location%></p>
    </div>
    <div class="row">
      <h2>When?</h2>
    </div>
    <div class="row">
      <p>Date: <%= @event.event_date %></p>
      <p>Time: <%= @event.event_time %></p>
    </div>
    <div class="group btn-group">
      <% if current_user%>
        <%= button_to "Edit", edit_event_path(@event), :method => "get", class: "btn btn-small btn-success"%>
        <%= button_to "Delete Event", delete_event_path, data: {:confirm=>'Are you sure you want to delete this event?'}, :method => "delete", class: "btn btn-small btn-danger" %>
        <%= button_to "Attend", new_attendance_path(@event), :method => "get", class: "btn btn-small btn-primary" %>
      <% else %>
        <%= button_to "Login", login_path, :method => "get", class: "btn btn-small btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h1>Who's Going:</h1>
  <div class="col-xs-12">
    <% @event.attendances.each do |attendance| %>
    <div class="col-md-3">
      <div class = "row">
        <%= image_tag (attendance.user.profile_image), class: "img-responsive img-circle userpic", size:"140x140" %>
      </div>
      <div class="row">
        <%= attendance.user.first_name %>
      </div>
      <div class="row">
        <%= attendance.contribution %>
      </div>
    </div>

    <% end %>
  </div>
</div>
