<!DOCTYPE html>
<html lang='en'>
<head>
  <title>PlanTasticProject2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= csrf_meta_tags %>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

  <!-- Basic Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <%= link_to "planTastic", users_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>


  <!-- Flash Message -->
  <% flash.each do |name, msg| %>
      <div class="alert alert-success">
        <%= name.capitalize %>: <%= msg %>
      </div>
  <% end %>

  <div class='container'>
      <%= yield %>
  </div>

</body>
</html>
