<!DOCTYPE html>
<html lang='en'>
<head>
  <title>planTastic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= csrf_meta_tags %>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

  <!-- Basic Navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <%= link_to "planTastic", users_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Create Event", new_event_path %></li>
        <% else %>

        <% end %>
        <li><%= link_to "All Events", events_path%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>


  <!-- Flash Message -->
  <div class="container">
    <% flash.each do |name, msg| %>
        <div class="alert alert-success">
          <%= name.capitalize %>: <%= msg %>
        </div>
    <% end %>
  </div>

  <!-- Pages render in here -->
  <div class="container-fluid">
    <%= yield %>
  </div>
  <!-- End page render -->

  <div class="container">
    <div class="row">
      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 planTastic, Inc. </p>
      </footer>
    </div>
  </div>


</body>
</html>
